pandas
- initialization
- colomn selection,

In [4]:
pip install pandas

Requirement already satisfied: pandas in /Users/jauhari/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jauhari/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jauhari/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/jauhari/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/jauhari/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/jauhari/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [ ]:
data_penjualan = {
    "product": ["product A", "product B",]
}

In [8]:
df = pd.read_csv("Data_Penumpang Bus Sekolah Tahun 2021.csv")
df.head()

,periode_data,type_operasi,area_operasi,jumlah_bus,jumlah_penumpang
0,202101,Puskesmas Cilincing,RS Wisma Atlet,1.0,8.0
1,202101,Puskesmas Tebet,RS Wisma Atlet,1.0,24.0
2,202101,Puskesmas Cempaka Putih,RS Wisma Atlet,1.0,14.0
3,202101,Puskesmas Tanjung Priok,RS Wisma Atlet,1.0,10.0
4,202101,Puskesmas Ciracas Tahap II,RS Wisma Atlet,1.0,9.0

In [9]:
df.sample(10)

,periode_data,type_operasi,area_operasi,jumlah_bus,jumlah_penumpang
2228,202108,RSUD PASAR REBO,BEKASI,31.0,785.0
674,202102,RSUD DUREN SAWIT,BOGOR,NaN,NaN
1168,202106,Puskesmas Kelapa Gading,RS Wisma Atlet,1.0,6.0
734,202102,RS JANTUNG HARAPAN KITA,BEKASI,19.0,733.0
872,202104,RSUD DUREN SAWIT,BEKASI,NaN,NaN
1285,202106,RSUD DUREN SAWIT,BEKASI,NaN,NaN
852,202103,Puskesmas Ciracas,RS Wisma Atlet,1.0,34.0
487,202102,Puskesmas Cipayung,RS Wisma Atlet,1.0,20.0
2246,202108,R S C M,DEPOK,46.0,3338.0
979,202103,Puskesmas Cipayung,RS Wisma Atlet,1.0,13.0